In [99]:
import numpy as np
import pandas
from pandas import DataFrame, Series, date_range
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
import scipy, scipy.stats
import matplotlib.pyplot as plt
from numpy import random

In [84]:
data_str = '''Region Alcohol Tobacco
North 6.47 4.03
Yorkshire 6.13 3.76
Northeast 6.19 3.77
East Midlands 4.89 3.34
West Midlands 5.63 3.47
East Anglia 4.52 2.92
Southeast 5.89 3.20
Southwest 4.79 2.71
Wales 5.27 3.53
Scotland 6.08 4.51
Northern Ireland 4.02 4.56'''

In [85]:
print(d)

[['Region Alcohol Tobacco'], ['North 6.47 4.03'], ['Yorkshire 6.13 3.76'], ['Northeast 6.19 3.77'], ['East Midlands 4.89 3.34'], ['West Midlands 5.63 3.47'], ['East Anglia 4.52 2.92'], ['Southeast 5.89 3.20'], ['Southwest 4.79 2.71'], ['Wales 5.27 3.53'], ['Scotland 6.08 4.51'], ['Northern Ireland 4.02 4.56']]

In [86]:
d = data_str.split('\n')
print(d)
d = [ i.split('\t') for i in d ]
print(d)

['Region Alcohol Tobacco', 'North 6.47 4.03', 'Yorkshire 6.13 3.76', 'Northeast 6.19 3.77', 'East Midlands 4.89 3.34', 'West Midlands 5.63 3.47', 'East Anglia 4.52 2.92', 'Southeast 5.89 3.20', 'Southwest 4.79 2.71', 'Wales 5.27 3.53', 'Scotland 6.08 4.51', 'Northern Ireland 4.02 4.56']
[['Region Alcohol Tobacco'], ['North 6.47 4.03'], ['Yorkshire 6.13 3.76'], ['Northeast 6.19 3.77'], ['East Midlands 4.89 3.34'], ['West Midlands 5.63 3.47'], ['East Anglia 4.52 2.92'], ['Southeast 5.89 3.20'], ['Southwest 4.79 2.71'], ['Wales 5.27 3.53'], ['Scotland 6.08 4.51'], ['Northern Ireland 4.02 4.56']]

In [87]:
for i in range( len( d ) ):
    for j in range( len( d[0] ) ):
        try:
            d[i][j] = float( d[i][j] )
        except:
            pass

In [118]:
print ((d))

[['Region Alcohol Tobacco'], ['North 6.47 4.03'], ['Yorkshire 6.13 3.76'], ['Northeast 6.19 3.77'], ['East Midlands 4.89 3.34'], ['West Midlands 5.63 3.47'], ['East Anglia 4.52 2.92'], ['Southeast 5.89 3.20'], ['Southwest 4.79 2.71'], ['Wales 5.27 3.53'], ['Scotland 6.08 4.51'], ['Northern Ireland 4.02 4.56']]

In [124]:
df = DataFrame( d[1:], columns=list(d[0]) )

In [130]:
df

        Region Alcohol Tobacco
0              North 6.47 4.03
1          Yorkshire 6.13 3.76
2          Northeast 6.19 3.77
3      East Midlands 4.89 3.34
4      West Midlands 5.63 3.47
5        East Anglia 4.52 2.92
6          Southeast 5.89 3.20
7          Southwest 4.79 2.71
8              Wales 5.27 3.53
9           Scotland 6.08 4.51
10  Northern Ireland 4.02 4.56

In [131]:
df.columns.values

array(['Region Alcohol Tobacco'], dtype=object)

In [126]:
plt.scatter( df.Tobacco, df.Alcohol,
         marker='o',
         edgecolor='b',
         facecolor='none',
         alpha=0.5 )
xlabel('Tobacco')
ylabel('Alcohol')
savefig('alcohol_v_tobacco.png', fmt='png', dpi=100)

AttributeError: 'DataFrame' object has no attribute 'Tobacco'