In [2]:
5 + 34

39

In [3]:
print "hello gonzalo"

hello gonzalo

In [4]:
# Variables
a = 54
print a

54

In [5]:
type(a)

int

In [6]:
b = 1234.34554
type(b)

float

In [9]:
c = 'gonzalo'
type(c)

str

In [10]:
isinstance(a, int)

True

In [11]:
isinstance(b, int)

False

In [12]:
d = False
type(d)

bool

In [13]:
e = """
This is a multiline string
which is pretty coold! 
"""
e

'\nThis is a multiline string\nwhich is pretty coold! \n'

In [15]:
s1 = 'Hi '
s2 = 'There'
s1 + s2

'Hi There'

In [16]:
# Type Error because both variables are different types
s1 + 5

TypeError: cannot concatenate 'str' and 'int' objects

In [17]:
# Snake case
this_is_a_variable = 3

In [20]:
var1 = 2
var2 = 5
var1 == var2

False

In [21]:
# There is a limit to its precision when taking floating point numbers
x = 45.3433443923472847534754357375765723465

45.343344392347284

In [22]:
# This is strange behaviour. This is a limitation of Python.
a = 45.343344392347284
x == a

True

In [24]:
l = 343453453453434434343434343
type(l)

long

In [28]:
2^2

0

In [29]:
# Expressions
(2 + 4) * (1 + 4)

30

In [30]:
## Power
2**4

16

In [31]:
2**64

18446744073709551616L

In [32]:
2**32

4294967296

In [33]:
## Carrot is the byte wise exclusive or
#  2  - 4  = 6
# 010 - 100 = 110

2^4

6

In [36]:
# Integer arthimatic 
# This was fixed on Python 3
1/2

0

In [37]:
## A solution
1.0/2.0

0.5

In [39]:
# This will bring only on particular thing
from math import sqrt

In [40]:
sqrt(45)

6.708203932499369

In [44]:
# We load a library from Python 3 to fix the division problem
from __future__ import division

In [45]:
1/2

0.5

In [46]:
# floor arithmatic
1 // 2

0

In [48]:
# Find the average of 23, 45, 67, 2
(23 + 45 + 67 + 2) / 4

34.25

In [49]:
v = [23, 45, 67, 2]
sum(v) / len(v)

34.25

In [50]:
# Convention in Python is that we indent with 4 spaces
def our_func(a, b):
    return a + b

In [52]:
# LOL, Python3 uses indentation same as Python2
from __future__ import braces

SyntaxError: not a chance (<ipython-input-52-2aebb3fc8ecf>, line 1)

In [53]:
our_func(2,4)

6

In [ ]:
# Another weird this of Python..you can redefine True
# True = 3 <-- THIS WORKS!! WAT !!

In [55]:
True

True

In [56]:
True and True

True

In [58]:
True or True

True

In [59]:
True and False

False

In [60]:
False and True

False

In [61]:
False and False

False

In [62]:
not True

False

In [67]:
# Conditional
x = 2
y = 7
if x > y:
    print x
elif y == 7:
    print y
else:
    print "none of the above"

7

In [70]:
# Iteration - common variables for index = i j k l m
for i in range(5):
        print i

0
1
2
3
4

In [71]:
range(5)

[0, 1, 2, 3, 4]

In [72]:
# Range takes two parameters. 
# The number to start and the number to stop one before.
for i in range(1,7): 
    print i

1
2
3
4
5
6

In [74]:
x = 2
while x < 5:
    print x
    x += 1

2
3
4

In [75]:
# ++ is interpreted as 0 + 0 + 2
++2

2

In [76]:
s = "Hi there world!"
s[0]

'H'

In [77]:
s[0:2]

'Hi'

In [78]:
s[1:2]

'i'

In [80]:
l1 = [1,2,3,4,5]
l1[0:2]

[1, 2]

In [81]:
s[-1]

'!'

In [86]:
s[-1:-2]

''

In [87]:
s.upper()

'HI THERE WORLD!'

In [88]:
s.lower()

'hi there world!'

In [89]:
# Everthing in Python is an object

In [92]:
name = "Mississauga"
def count_letters(word, letter):
    for let in word:
        print let
count_letters(name, s);

M
i
s
s
i
s
s
a
u
g
a

In [96]:
name = "Mississauga"

def count_letters(word, letter):
    count = 0
    for let in word:
        if let == letter:
            count += 1
    print count
    return count

count_letters(name, "s");

4

In [97]:
"s" in name

True

In [100]:
'greggwerqssrqqebtq4sseahrehewrhe'.count('s')

4